*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
.log{
background-color: #171849; 
width: 100%;
height: 100vh;
padding: 102px 2px;

}
.box {
    background-color: #fff;
    background-position: center;
    display: flex;
    margin-left: 200px;
    box-shadow: 16px 15px 27px 8px rgba(7,7,15,0.5);
-webkit-box-shadow: 16px 15px 27px 8px rgba(7,7,15,0.5);
-moz-box-shadow: 16px 15px 27px 8px rgba(7,7,15,0.5);
    width:68%;
    height: auto;
    border-radius: 20px
    
    
   
}
.box img {
    border-radius: 20px;
    height: 70vh;
    width: 600px;
    display: flex;
    padding-right: 30px;

} 
.login {
    padding-top: 30px;
    width: 300px;
    border: 3pxpx rgb(203, 201, 201);
}
.login h1 , h2{
    color: #0f0e2a;
    font-size: 35px;
    
}
h2 {
    font-size: 27px;
    padding-bottom: 10px;
}
.forget{
    font-size: 15px;
    color: #282769;
    padding-left: 40px;
    padding-top: 7px;
    padding-bottom: 20px;
}
.but {
    background-color: #0f0e2a;
    color: #fff;
    width: 141px;
    height: 37px;
    font-size: 18px;
    margin-left: 20px;
    border-radius: 7px;

}
h3 {
    font-size: 15px;
    color: #282769;  
    padding-top: 20px;
    padding-left: 28px;
}
label{
    color: #0a193c;
    margin-left: 10px;
}
input{
    margin-bottom: 9px;
    width: 141px;
    border: none;
    border-bottom: 1px solid #1d3c85;
    /* padding-left: 23px; */
    margin-left: 19px;


}

.text{
    border: 2px solid;
    border-color: #edecec;
    
    margin-top: 1px;
    /* justify-content: center; */
    height: 266px;
    width: 205px;
}

span{
    color:#282769;
    
}
p{
    font-size: 20px;
    padding: 7px 6px;
}
